.back-ground {
  position: relative;
  background-color: rgba(243, 152, 77, 0.12);
  font-size: large;
  margin: 0;
}

#region-title {
  width: 20%;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

#region-title > div {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  user-select: none;
}

#edit-field {
  display: flex;
  margin: 0.7em 0;
}

#edit-field > #title {
  min-width: 20%;
  justify-items: center;
}

#edit-field > #title > div {
  border: 1px solid black;
  background-color: white;
  width: fit-content;
  font-size: 1.1em;
  padding: 0.2em 0.3em;
  font-weight: bold;
  user-select: none;
}

#edit-field > #content {
  align-items: left;
  width: 75%;
}

#content > #checkbox-style {
  border: 1px solid black;
  background-color: white;
  font-weight: normal;
  padding: 0.2em 0.3em;
  width: fit-content;
  user-select: none;
}

input#kana {
  width: 90%;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  border: 1px solid black;
}

input#mana {
  width: 90%;
  font-size: 1.5em;
  border: 1px solid black;
}

div#edit-name-container {
  display: flex;
}

hr#editor-hr {
  border: 1px solid rgb(161, 161, 161);
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#edit-year-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#edit-year-container > label {
  background-color: white;
  border: 1px solid black;
  padding: 0.2em 0.3em;
  height: fit-content;
}

#edit-year-container > #year {
  text-align: right;
  width: 3.5em;
  font-size: 1.2em;
  padding: 0.2em 0;
  border: 1px solid black;
}

#edit-year-container > #month-day {
  text-align: right;
  width: 2em;
  font-size: 1.2em;
  padding: 0.2em 0;
  border: 1px solid black;
}

#edit-year-container > #slash {
  font-size: 1.5em;
  user-select: none;
}

.bywords-editor {
  font-size: 1.2em;
  width: 12em;
  border: 1px solid black;
  padding: 0.3em;
}

.description-editor {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.description-editor > textarea {
  width: 90%;
  height: 10em;
  resize: vertical;
  font-size: 1.1em;
  padding: 0.3em;
  border: 1px solid black;
}

#edit-field > #list-container {
  width: 75%;
}

#list-input {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}

#list-input > input {
  flex: 1;
  font-size: 1.1em;
  border: 1px solid black;
  padding: 0.2em;
}

#list-input > label > input[type="number"] {
  font-size: 1.1em;
  border: 1px solid black;
  padding: 0.2em;
  max-width: 2.5em;
  text-align: right;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

#list-input > label > input[type="number"]::-webkit-outer-spin-button,
#list-input > label > input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#list-input > button {
  width: fit-content;
  font-size: 1em;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  user-select: none;
}

button#list-add-button {
  width: fit-content;
  font-size: 1em;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  user-select: none;
}

.tag-editor {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  align-items: center;
}

#tag-checkbox {
  display: none;
}

.tag-editor > label {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0em 0.3em;
  width: fit-content;
  height: fit-content;
}

.add-tag {
  font-size: 1em;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.1em 0.3em;
  width: 6em;
  height: fit-content;
}

.editor-last-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.editor-last-button-container > button {
  font-size: 1.1em;
  width: 6em;
  padding: 0.3em 0.1em;
  background-color: white;
  border: 1px solid black;
  margin: 0.5em;
  border-radius: 10px;
}
